.el-select-dropdown.el-popper.list-content__header-search-form-status-select-dropdown {
  background: #080b10;
  border: 1px solid #358aff;

  .el-select-dropdown__list,
  .el-select-dropdown__item {
    background: transparent;
  }

  .el-select-dropdown__item.hover,
  .el-select-dropdown__item:hover {
    background: #358aff;
    color: #fff;
  }
}

.monitor-list-page {
  max-width: 1200px;
  margin: auto;
  background: url('~@/assets/images/beijing@2x.png');
  background-size: cover;

  .list-content__footer {
    height: 60px;
    background: url('~@/assets/images/3kuangxiabu@2x.png');
    background-size: cover;
    text-align: left;

    .el-pagination {
      margin-left: 40px;

      .el-pager li {
        background: transparent;
        color: #a0a3a8;

        &:hover,
        &.active {
          color: #358aff;
        }
      }

      .el-input__inner {
        background: #111925;
        border: none;
      }
    }

    .el-pagination .btn-next,
    .el-pagination .btn-prev {
      background: transparent;
      color: #fff;
    }

    .el-pagination button:disabled {
      background: transparent;
      color: #c0c4cc;
    }
  }

  .list-content__header {
    height: 92px;
    background: url('~@/assets/images/1kaungshangbu@2x.png');
    background-size: cover;
    border-bottom: 1px solid rgba(59, 227, 237, 0.3);

    .list-content__header-search-form {
      position: relative;
      top: 44px;

      .el-input__inner {
        color: #fff;
        background: transparent;
        border: 1px solid #358aff;
      }

      .status-select {
        width: 136px;
        color: #fff;
      }

      .search-input {
        width: 226px;

        .el-input-group__append {
          background: #358aff;
          border: none;
        }

        .el-button {
          background: #358aff;
          border-color: #358aff;
          color: #fff;
        }
      }
    }
  }

  .list-content {
    padding-top: 62px;

    .list-content__body {
      padding: 40px 24px 28px 24px;
      border-left: 1px solid rgba(53, 138, 255, 0.3);
      border-right: 1px solid rgba(53, 138, 255, 0.3);

      .el-table--enable-row-hover .el-table__body tr:hover > td {
        background: rgba(0, 0, 0, 0.5);
      }

      .el-table--striped .el-table__body tr.el-table__row--striped td {
        background: rgba(17, 25, 37, 0.5);
      }

      .el-table {
        background: transparent;
        &:before {
          display: none;
        }

        .index-column {
          padding-left: 14px !important;
        }

        .el-table__row {
          background: transparent !important;
          height: 32px;

          td {
            padding: 0;
            line-height: 32px;
            color: #a0a3a8;
          }
        }

        td,
        th {
          border: none;
        }
      }

      .el-table .el-table__header-wrapper {
        height: 32px;
      }

      .el-table .cell {
        text-align: left;
      }

      .list-content__body-table-header {
        background: rgba(59, 227, 237, 0.3);
        color: #3be3ed;
        font-size: 12px;

        th {
          background: transparent;
          padding: 4px 0;
        }
      }
    }
  }
}
